compel
cupy-cuda12x
fairscale
joblib
lark
pilgram
pygit2
python-ffmpeg
regex
torchdiffeq
torchmetrics
torch
torchsde
torchvision
torchaudio
einops
transformers
tokenizers
sentencepiece
safetensors
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil
kornia
spandrel
soundfile
gguf
numpy<2.0.0
deepdiff
torch
numpy
Pillow
pynvml
py-cpuinfo
piexif
numba
colour-science
rembg
pixeloe
transparent-background
dlib
onnxruntime
insightface
color-matcher
torch
numpy
einops
opencv-contrib-python
kornia
scipy
Pillow
torchvision
tqdm
numpy
pandas
numexpr
diffusers
opencv-python
pyyaml
numpy<=1.26.4
opencv-python
imageio-ffmpeg
matplotlib==3.8
ultralytics!=8.2.5
GitPython
PyGithub
matrix-client==0.4.0
transformers
huggingface-hub
typer
rich
typing-extensions
qrcode[pil]
onnxruntime-gpu
requirements-parser
rembg
imageio-ffmpeg
rich
rich-argparse
matplotlib
pillow
cmake
ninja
PyGithub
requests
numpy
einops
scipy
kornia
opencv-python
pillow
nerfacc
slangtorch
diffusers
transformers
safetensors
open-clip-torch
torchmetrics
pytorch-msssim
pytorch-lightning
rembg
imageio
imageio-ffmpeg
matplotlib
trimesh
plyfile
pygltflib
xatlas
pymeshlab
gpytoolbox
PyMCubes
torchtyping
tqdm
jaxtyping
packaging
OmegaConf
pyhocon
opencv-python
transformers
accelerate
insightface
diffusers
onnxruntime-gpu
piexif
onnxruntime
argostranslate
cmake
fairscale
git+https://github.com/WASasquatch/img2texture.git
git+https://github.com/WASasquatch/cstr
gitpython
imageio
joblib
matplotlib
numba
numpy
opencv-python-headless[ffmpeg]<=4.7.0.72
pilgram
git+https://github.com/WASasquatch/ffmpy.git
rembg
scikit-image
scikit-learn
scipy
timm
tqdm
transformers
accelerate==0.23.0
transformers==4.30.2
diffusers[torch]
ftfy
opencv-python
einops
pytorch-lightning
tensorboard
safetensors
altair
easygui
toml
voluptuous
huggingface-hub
open-clip-torch
rich
pandas
scipy
requests
pillow
numpy
gradio==3.41.2
fastapi
uvicorn
lion-pytorch
lycoris-lora
prodigyopt
dadaptation
wandb
httpx
xformers
bitsandbytes
onnxruntime
piexif
insightface
onnxruntime
onnxruntime-gpu
diffusers
opencv-python
piexif
gguf
numpy<2.0.0
cmake
fairscale
git+https://github.com/WASasquatch/img2texture.git
git+https://github.com/WASasquatch/cstr
gitpython
imageio
joblib
matplotlib
numba
numpy
opencv-python-headless[ffmpeg]<=4.7.0.72
pilgram
git+https://github.com/WASasquatch/ffmpy.git
rembg
scikit-image
scikit-learn
scipy
timm
tqdm
transformers
pyyaml
numpy<=1.26.4
clip-interrogator
simpleeval
dlib
onnxruntime
insightface
color-matcher
matplotlib
cachetools
numpy<2
send2trash
torch
importlib-metadata
huggingface-hub
scipy
opencv-python
filelock
numpy
Pillow
einops
torchvision
pyyaml
scikit-image
python-dateutil
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
addict
yacs
trimesh[easy]
albumentations
scikit-learn
matplotlib
GitPython
PyGithub
matrix-client==0.4.0
transformers
huggingface-hub
typer
rich
typing-extensions
pillow
scipy
color-matcher
matplotlib
huggingface-hub
mss
opencv-python
bitsandbytes
tqdm
numpy
surrealist
boto3==1.34.86
redis
fal-client
insightface==0.7.3
onnx
opencv-python
numpy
segment-anything
ultralytics
segment-anything
timm
addict
yapf
deepdiff
torch
numpy
Pillow
pynvml
py-cpuinfo
piexif
ollama
transformers
matplotlib
timm
pillow 
peft
segment-anything
scikit-image
piexif
transformers
opencv-python-headless
GitPython
scipy
numpy<2
diffusers
accelerate
clip-interrogator
lark-parser
onnxruntime
opencv-python
sentencepiece
spandrel
numpy
pandas
numexpr
cmake
fairscale
git+https://github.com/WASasquatch/img2texture.git
git+https://github.com/WASasquatch/cstr
gitpython
imageio
joblib
matplotlib
numba
numpy
opencv-python-headless[ffmpeg]<=4.7.0.72
pilgram
git+https://github.com/WASasquatch/ffmpy.git
rembg
scikit-image
scikit-learn
scipy
timm
tqdm
transformers
torch
numpy
einops
opencv-contrib-python
kornia
scipy
Pillow
torchvision
tqdm
cupy-wheel
opencv-python
imageio-ffmpeg
accelerate
clip @ https://github.com/openai/CLIP/archive/d50d76daa670286dd6cacf3bcd80b5e4823fc8e1.zip#sha256=b5842c25da441d6c581b53a5c60e0c2127ebafe0f746f8e15561a006c6c3be6a
diffusers
einops
gradio
gradio-client
imageio
imageio-ffmpeg
numpy
omegaconf
open-clip-torch
opencv-contrib-python
opencv-python
Pillow
scikit-image
scikit-learn
scipy
torchdiffeq
torchmetrics
torchsde
transformers
xformers
