
GitPython
OmegaConf
Pillow
PyGithub
PyMCubes
accelerate
addict
aiohttp
albumentations
bitsandbytes>=0.43.0
boto3==1.34.86
cachetools
clip-interrogator
cmake
color-matcher
colour-science
compel
cupy-cuda12x
deepdiff
diffusers
dlib
fairscale
fal-client
filelock
ftfy
fvcore
gpytoolbox
gguf>=0.9.1
huggingface-hub>0.20
imageio
imageio-ffmpeg
importlib-metadata
insightface
jaxtyping
joblib
kornia
lark
matplotlib==3.8
matrix-client==0.4.0
mediapipe
mss
nerfacc
ninja
numba
numexpr
numpy<2
ollama
omegaconf
onnxruntime
onnxruntime-gpu
open-clip-torch
opencv-contrib-python
opencv-python
opencv-python-headless
packaging
pandas
piexif
pilgram
pillow
pixeloe
plyfile
psutil
py-cpuinfo
pygit2
pygltflib
pyhocon
pymeshlab
pynvml
python-dateutil
python-ffmpeg
pytorch-lightning
pytorch-msssim
pyyaml
qrcode[pil]
redis
regex
rembg
requests
requirements-parser
rich
rich-argparse
safetensors
scikit-image
scikit-learn
scipy
segment-anything
sentencepiece
simpleeval
slangtorch
spandrel
surrealist
svglib
timm
tokenizers
torch
torchaudio
torchdiffeq
torchmetrics
torchsde
torchtyping
torchvision
tqdm
transformers
transparent-background
trimesh[easy]
typer
typing-extensions
ultralytics!=8.2.5
xatlas
yacs
yapf
pyOpenSSL
watchdog
# simple-lama-inpainting
clip-interrogator==0.6.0
transformers>=4.36.0
lark-parser
rembg[gpu]
einops==0.7.0
trimesh>=4.0.5
soundfile>=0.12.1
json-repair
